*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
.container{
    width: 1140px;
    margin: 0 auto;
}

.navbar{
    background-color: #010032;
    background-size: 100%;
}

.navbar .container .navbar-box{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 10px;
}

.navbar .container .navbar-box .navbar-list1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 170px;
}
.navbar-list1 .navbar-item1{
    border: 1px solid black;
    width: 40px;
    height: 40px;
    background-color: gray;
    border-radius: 10px;
}
.navbar-list1 .navbar-item1 img{
    margin-left: 22px;
    margin-top: 22px;
}

.navbar .container .navbar-box .navbar-list2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 420px;
}

.navbar .container .navbar-box .navbar-list3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;
}

.navbar .container .navbar-box .navbar-list3 .navbar-item4 img{
  display: block;
}

.navbar .container .navbar-box .navbar-list1 .navbar-item h4{
    color: white;
    font-size: 30px;
}

.navbar .container .navbar-box .navbar-list2 .navbar-item2 p{
   color: white;
   font-size: 20px;
}

.navbar .container .navbar-box .navbar-list3 .list-item3 p{
    color: white;
    font-size: 20px;
}

.make{
    background-color:#010032;
    background-size: 100%;
}

.make .container .make-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.make .container .make-box .make-text h2{
  color:white;
  font-size: 72px;
  width: 560px;
}

.make .container .make-box .make-text p{
    color: white;
    width: 400px;
    font-size: 22px;
    padding:20px 0;
}

.make .container .make-box .make-text .make-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 150px;
    padding: 10px 10px;
    background-color: #fff;
    border-radius: 30px;
    margin-top: 20px;
}

.make .container .make-box .make-text .make-list2{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    width: 200px;
    margin-top: 90px;
}

.make .container .make-box .make-text .make-list2 .make-item3{
   height: 20px;
   margin-left: 20px;
}

.make .container .make-box .make-text .make-list2 .make-item3 h4{
  color: white;
  font-size: 18px;
  margin-top: 10px;
}

.make .container .make-box .make-text .make-list2 .make-item3 p{
    font-size: 15px;
    margin-top: -12px;
}

.about{
    padding-bottom: 100px;
}
.about .container .about-box{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about .container .about-box .about-text1 .about-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;
    margin-top: 100px;
}

.about .container .about-box .about-text1 .about-list2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:150px;
    margin-top: 90px;
}

.about .container .about-box .about-text1 .about-matn{
  width: 300px;
  margin: 20px 0;
}

.about .container .about-box .about-text1 .about-list3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:200px;
}

.about .container .about-box .about-text2 h2{
    font-size:48px;
    width: 700px;
    margin-top: 80px;
}

.about .container .about-box .about-text2 .about2-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 700px;
}

.about .container .about-box .about-text2 .about2-list .about2-item .small-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 65px;
    padding-top: 50px;

}

.about .container .about-box .about-text2 .about2-list .about2-item .small-box p{
    font-size: 60px;
    color:  #4543E8;
}

.about .container .about-box .about-text2 .about2-list .about2-item .small-box button{
    border: none;
    font-size: 30px;
    background-color: #fff;
    cursor: pointer;
    color: #4543E8;
}

.about .container .about-box .about-text2 .about2-list2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}